.banner {
  min-height: 60vh;
}

.banner img {
  object-fit: cover;
  height: 60vh;
}

.banner-text {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.paragraph {
  line-height: 1.7;
}
